/* Small/Phone View ***************/
nav {
    margin: 1pt auto;
    max-width: 900px;
    background-color: #00d9ff;
}
.navigation {
    list-style: none;
    padding: 0;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: #008000;
    font-weight: 700;
}
.navigation a:hover {
    color: darkred;
    background-color: #59cf06;
}

/* the onclick JS toggles the .responsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
    display: block;
}

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block; /* change state in small view */
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
}